.container_light {
	min-height: 100vh;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	mix-blend-mode: difference;
	background: var(--light-light-color);
	color: var(--light-dark-color);
	overflow: hidden;
}

.container_dark {
	min-height: 100vh;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	mix-blend-mode: difference;
	background: var(--dark-dark-color);
	color: var(--dark-light-color);
	overflow: hidden;
}

@media screen and (max-width: 1000px) {
	.container_light,
	.container_dark {
		mix-blend-mode: unset;
	}
}

.self_page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.main {
	padding: 5rem 5rem;
	padding-inline-end: 35vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 1500px) {
	.main {
		padding: 2rem 2rem;
		padding-inline-end: 10rem !important;
	}
}

@media screen and (max-width: 1200px) {
	.main {
		padding: 2rem 2rem;
		padding-inline-end: 2rem !important;
	}
}

@media screen and (max-width: 500px) {
	.main {
		padding: 2rem 1rem;
		padding-inline-end: 1rem !important;
	}
}

.title {
	margin: 0;
	margin-top: 5rem;
	line-height: 1.15;
	font-size: 4.5rem;
	font-weight: bolder;
	text-transform: uppercase;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #e2e2e2;
	color: #050038;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	mix-blend-mode: difference;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 2rem 0.5rem;
}

.reset_scroll {
	position: absolute;
	mix-blend-mode: unset;
	right: 3rem;
	bottom: 3rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	background: white;
	padding: 5px 10px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	z-index: 5;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
}

.reset_scroll svg {
	width: 10px;
	height: 15px;
}

.reset_scroll:disabled {
	opacity: 0;
	visibility: hidden;
	bottom: -5rem;
}

.reset_scroll:hover {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	color: black;
	transform: scale(1.1) perspective(800);
	animation: arrowAnimation 0.5s infinite alternate;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes arrowAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(5px);
	}
}
