:root {
	--light-light-color: #e2e2e2;
	--light-dark-color: #050038;
	--dark-light-color: #e2e2e2;
	--dark-dark-color: #131313;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	font-family: consolas;
	overflow: hidden;
	user-select: none;
}

a {
	color: #0070f3;
	text-decoration: none;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

footer a:hover,
footer a:focus,
footer a:active {
	transform: scale(1.2);
	color: white;
	mix-blend-mode: difference;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h3 {
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
	margin-bottom: 0;
}

h4 {
	font-weight: 700;
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
	margin-inline-start: 1.5rem;
}

li {
	margin-inline-start: 1.5rem;
	padding-inline-start: 1.5rem;
	margin-top: 0.2rem;
	line-height: 1.5rem;
	list-style-type: circle;
	text-indent: -1.5em;
}

section li {
	margin-inline-start: 10.2rem;
	margin-top: 0.2rem;
	line-height: 1.5rem;
	list-style-type: disc;
}

@media screen and (max-width: 1200px) {
	section li {
		margin-inline-start: 2rem;
	}
}

table {
	margin: 1rem;
	border-collapse: collapse;
}

table tr :last-child {
	background: black;
	color: white;
	mix-blend-mode: difference;
}

table td:last-child b {
	color: rgba(255, 255, 255, 0.3);
}

small {
	margin-top: -0.5rem;
	margin-inline-start: 0.5rem;
}

table tr:hover {
	mix-blend-mode: difference;
}

p {
	margin: 1rem;
	margin-inline-start: 1.5rem;
}

span {
	margin: 1rem;
	margin-inline-start: 2rem;
	font-weight: 500;
}

span::before {
	content: '⊛ ';
}

*:not(svg) {
	box-sizing: border-box;
	background: inherit;
	color: inherit;
}

svg {
	box-sizing: border-box;
	position: relative;
}
