.container_light {
	min-height: 100vh;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	mix-blend-mode: difference;
	background: var(--light-light-color);
	color: var(--light-dark-color);
	overflow: hidden;
}

.container_dark {
	min-height: 100vh;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	mix-blend-mode: difference;
	background: var(--dark-dark-color);
	color: var(--dark-light-color);
	overflow: hidden;
}

.left_wrapper_light {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 300px;
	background: var(--light-dark-color);
	color: var(--light-light-color);
}

.left_wrapper_dark {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 300px;
	background: var(--dark-light-color);
	color: var(--dark-dark-color);
}

@media screen and (max-width: 1200px) {
	.left_wrapper_light,
	.left_wrapper_dark {
		display: none;
	}
}

.left_wrapper_dark ul,
.left_wrapper_light ul {
	margin-top: 0;
	padding: 0;
	list-style: none;
	margin-bottom: auto;
	margin-inline-start: 1.5rem;
}

.left_wrapper_dark li,
.left_wrapper_light li {
	list-style-type: none;
	margin-inline-start: 0;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left_wrapper_dark li a,
.left_wrapper_light li a {
	width: 100%;
	height: 100%;
}

.left_wrapper_dark li:hover,
.left_wrapper_light li:hover,
.link_active {
	box-shadow: inset 0 0 5px solid rgba(0, 0, 0, 0.1);
	border-inline-start: 10px solid white;
	border-bottom: 1px solid white;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left_wrapper_dark a:hover,
.left_wrapper_light a:hover,
.left_wrapper_dark a:focus-within,
.left_wrapper_light a:focus-within {
	mix-blend-mode: unset;
}

.self_page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow: 1;
	height: 100vh;
	overflow: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.main {
	padding: 5rem 5rem;
	padding-inline-end: 35vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@media screen and (max-width: 1500px) {
	.main {
		padding: 2rem 2rem;
		padding-inline-end: 10rem !important;
	}
}

@media screen and (max-width: 1200px) {
	.main {
		padding: 2rem 2rem;
		padding-inline-end: 2rem !important;
	}
}

@media screen and (max-width: 500px) {
	.main {
		padding: 2rem 1rem;
		padding-inline-end: 1rem !important;
	}
}

.header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	border-bottom: 1px solid var(--dark-dark-color);
	mix-blend-mode: difference;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	backdrop-filter: blur(5px);
	padding: 0.5rem 2rem;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	z-index: 10;
}

.header button {
	position: relative;
	width: 2.2rem;
	height: 2.2rem;
	border: 0;
	padding: 0.5rem;
	cursor: pointer;
	background: transparent;
	color: #e2e2e2;
	mix-blend-mode: difference;
	margin-inline-start: auto;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header button svg {
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header button:hover svg {
	transform: rotate(180deg) scale(1.2);
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid var(--dark-dark-color);
	mix-blend-mode: difference;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: transparent;
	padding: 0.5rem 2rem;
}

.footer a {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 1rem;
	color: white;
}

@media screen and (max-width: 700px) {
	.footer a {
		display: none;
	}
}

.footer a svg {
	width: 20px;
	height: 20px;
	margin-inline-start: 10px;
}

.title {
	margin: 0;
	margin-top: 5rem;
	line-height: 1.15;
	font-size: 4.5rem;
	font-weight: bolder;
	text-transform: uppercase;
}

.title,
.description {
	text-align: center;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #e2e2e2;
	color: #050038;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
	mix-blend-mode: difference;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 2rem 0.5rem;
}

.reset_scroll {
	position: absolute;
	mix-blend-mode: unset;
	right: 3rem;
	bottom: 5rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	background: white;
	padding: 5px 10px;
	cursor: pointer;
	z-index: 5;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	overflow: hidden;
}

.reset_scroll:disabled {
	opacity: 0.5;
}

.reset_scroll:hover {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	transform: scale(1.1) perspective(800);
	animation: arrowAnimation 1s infinite alternate;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes arrowAnimation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(10px);
	}
}
